/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  height: 120vh;
  position: relative; 
}

img.imgBody {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: #b7b7a4;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #6b705c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffe8d6;
  color: black;
}

#resultado {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#resultado p {
  font-size: 20px;
  color: #333;
}

#resultado span {
  font-weight: bold;
  color: #212529;
}