/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  height: 120vh;
  position: relative; 
}

header {
  background-color: #333; 
  padding: 18px 0; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Estilos para el menú de navegación */
nav ul {
  list-style: none;
  display: flex; 
  justify-content: center;
}

nav ul li {
  margin: 0 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s; 
}

nav ul li a:hover {
  color: #b4c4d4;
}

img.imgBody {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.containerContacto {
  background-color: #b7b7a4;
  padding: 40px;
  border-radius: 55px;
  box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1);
  width: 630px;
  height: 650px;
}

.containerCalculadora {
  background-color: #b7b7a4;
  padding: 40px;
  border-radius: 55px;
  box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 600px;
}

.calculadora {
  margin-right: 30px;
}

.historial {
  background-color: #e1e1d0;
  padding: 60px;
  border-radius: 55px;
  box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 600px;
  margin-left: 50px;
}
.lista-prestamos {
  list-style: none;
}

h1, h2 {
  text-align: center;
  padding: 10px;
}

label {
  display: block;
  margin-top: 35px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

button {
  width: 100%;
  padding: 20px;
  background-color: #6b705c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ffe8d6;
  color: black;
}

.botonHistorial {
 margin-top: 375px;
}